@font-face {
    font-family: 'Terminal';
    src: url(fonts/NotoSansMono-Regular.ttf) format('truetype');
  }

:root{
    --ellipsis-loading-speed:.95s;
}

html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #1e1e1e;
    font-family: 'Terminal';
}

/*Board*/

iup-box{
    display: block;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
}

iup-box > div {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.snowman {
    background-image: url("snowman.png");
}


.snowflake {
    background-image: url("snowflake.png");
}

iup-box > div > img{
    width: 100%;
    height: 100%;
}


iup-board {
    display: block;
    height: 100%;
    width: 100%;
}

iup-board > div {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    height: 100%;
    width: 100%;
}


/*Terminal*/

iup-terminal {
    display: block;
    height: 100%;
    background-color: #0f0f0f;
}

iup-terminal > div {
    height: calc(100% - 4em);
    width: calc(100% - 4em);
    padding: 2em;

    font-family: 'Terminal';
    font-size: .8em;
    line-height: 2em;
    text-overflow:ellipsis;

    color: hsl(144, 60%, 50%);

    display: flex;
    flex-direction: column;
    
    justify-content: flex-end;
    
}

iup-terminal.nowrap > div > div > span.terminal_text{
    width: 100%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}


.loading_ellipsis{
    display: inline-block;
    vertical-align: bottom;
}

.loading_ellipsis {
    overflow: hidden;
    max-width: 0;
    animation: loading_ellipsis steps(4 , end) var(--ellipsis-loading-speed) infinite;
}

@keyframes loading_ellipsis {
    to {
        max-width: 4ch;
    }
}

@-webkit-keyframes loading_ellipsis {
    to {
        max-width: 4ch;
    }
}


/*Windows*/
iup-window {
    display: block;
    background-color: antiquewhite;

    width: 200px;
    height: 200px;
}

iup-window > header{
    width: calc(100% - 10px);
    height: 1.5em;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(62, 118, 167);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

iup-window > header > div {
    margin-right: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    padding-right: 5px;
    font-size: .8em;
}

iup-window > header > button {
    border-style: inset;
    font-size: .7em;
}

iup-window > main{
    width: 100%;
    height: calc(100% - 1.5em);
}

iup-window > div{
    width: 100%;
    height: calc(100% - 1.5em);
}

.Typing {
    overflow: hidden;
    overflow-wrap: break-word;
    white-space: nowrap;
    text-overflow:clip;
    height: 1.5em;
}

#main_terminal {
    background-color: #1e1e1e;
}

#terminal_window {
    position: absolute;
    height: calc(300px);
    width: calc(300px);
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: black 0 0 5px;
}

#board_window {
    position: absolute;
    margin-top: 35px;
    margin-left: 75px;
    height: calc(100% - 85px);
    width: calc(100% - 75px *2);
    box-shadow: black 0 0 5px;
    display: flex;
    flex-direction: column;
}

#board_window > div {
    height: min(calc(100vh - 85px - 1.5em), calc(100vw - 150px));
    width: min(calc(100vh - 85px - 1.5em), calc(100vw - 150px));
    align-self: center;
}

iup-box {
    background-color: #80808021;
}

iup-box:hover {
    background-color: #808080;
    border-radius: 20px;
}